# --- Backend ---
BIRDSEYE_MYSQL_ROOT_PASSWORD=your_secure_password
BIRDSEYE_GO_API_PORT=8080
BIRDSEYE_BIRDSEYEAPI_EXECUTION_MODE=dev
BIRDSEYE_OPENAI_MODEL=gpt-4-turbo
BIRDSEYE_OPENAI_CHAT_ENDPOINT=https://api.openai.com/v1/chat/completions
BIRDSEYE_BIRDSEYEAPI_V2_OPENAI_API_KEY=
BIRDSEYE_BIRDSEYEAPI_V2_CLAUDE_API_KEY=
BIRDSEYE_AWS_REGION=
BIRDSEYE_AWS_CLOUDFRONT_BIRDSEYEAPIPROXY_DISTRIBUTION_ID=
BIRDSEYE_SCRAPING_ARTICLES=10
BIRDSEYE_SELENIUM_URL=http://selenium:4444/wd/hub
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# for deploy server settings
VENUS_SSH_HOST=username@hogefuga.ne.jp
VENUS_HOME=/home/username
