# --- Frontend ---
VITE_BIRDS_EYE_API_ENDPOINT=http://localhost/api

# --- Backend ---
GO_API_PORT=8080
BIRDSEYEAPI_EXECUTION_MODE=dev
OPENAI_MODEL=gpt-4-turbo
OPENAI_CHAT_ENDPOINT=https://api.openai.com/v1/chat/completions
BIRDSEYEAPI_V2_OPENAI_API_KEY=
BIRDSEYEAPI_V2_CLAUDE_API_KEY=
AWS_REGION=
AWS_CLOUDFRONT_BIRDSEYEAPIPROXY_DISTRIBUTION_ID=
SCRAPING_ARTICLES=10
SELENIUM_URL=http://selenium:4444/wd/hub
